.popup__button-isunactive {
  pointer-events: none;
  opacity: 0.2;
  color: black;
  border: 1px solid #000000;
  background: #fff;
}
  
.popup__button-isunactive:hover {
  background: #fff;
  cursor: auto;
}